
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    function isOwner(userId) {
      return request.auth != null && request.auth.uid == userId;
    }

    function isAdmin() {
      return request.auth != null && exists(/databases/$(database)/documents/users/$(request.auth.uid))
             && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'Admin';
    }

    match /users/{userId} {
      // Allow list for authenticated users to check for first user.
      allow list: if request.auth != null;
      // Admins can get any user doc. Users can get their own.
      allow get: if isOwner(userId) || isAdmin();
      // Users can create their own doc on signup. Admins can create any.
      allow create: if isOwner(userId) || isAdmin();
      // User can update their own doc (but not their role). Admins can update any.
      allow update: if (isOwner(userId) && request.resource.data.role == resource.data.role) || isAdmin();
      // Only admins can delete users.
      allow delete: if isAdmin();
    }

    match /projects/{projectId} {
      // Admins can perform any action.
      allow read, write: if isAdmin();
      // Users can read projects assigned to them.
      allow get: if isOwner(resource.data.userId);
    }

    match /requests/{requestId} {
      // Admins can do anything.
      allow read, write: if isAdmin();
      // Users can read and create their own requests.
      allow get: if isOwner(resource.data.userId);
      allow create: if isOwner(request.resource.data.userId);
      // Users cannot update or delete their requests.
      allow update, delete: if isAdmin();
    }
    
    match /messageThreads/{threadId} {
      // Admins can do anything.
      allow read, write: if isAdmin();
      // Users can read and create their own message threads, and update them (to add new messages).
      allow get, update: if isOwner(resource.data.userId);
      allow create: if isOwner(request.resource.data.userId);
      // Users cannot delete threads.
      allow delete: if isAdmin();
    }
  }
}
